name: Build

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  id-token: write
  actions: read
  checks: write
  contents: write
  deployments: none
  issues: none
  packages: none
  pull-requests: write
  repository-projects: none
  security-events: write
  statuses: none

defaults:
 run:
  shell: bash

jobs:
  create-tag:
    name: Create Tags
    uses: ./.github/workflows/create-tags.yml

  build:
    name: Build Image
    uses: ministryofjustice/opg-github-workflows/.github/workflows/build-multi-architecture-image.yml@361d19a6d7b291dab5d46f04765239341a4ca86b # v3.16.0
    with:
      image_name: 311462405659.dkr.ecr.eu-west-1.amazonaws.com/sirius/data-sync
  
  push:
    name: Test & Publish Image
    runs-on: ubuntu-latest
    needs: [create-tag, build]
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Set up Docker
        run: |
          echo '{"experimental": true, "features": { "containerd-snapshotter": true }}' | sudo tee -a /etc/docker/daemon.json
          sudo systemctl restart docker
          docker run --privileged --rm tonistiigi/binfmt --install all
      - uses: actions/download-artifact@37930b1c2abaa49bbe596cd826c3c89aef350131 # v7.0.0
        with:
          path: /tmp/images
          name: multi-arch-image
      - name: Load Image
        run: |
          docker load -i /tmp/images/multi-arch-image.tar

      - name: Trivy Image Vulnerability Scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: 311462405659.dkr.ecr.eu-west-1.amazonaws.com/sirius/data-sync:latest
          severity: 'MEDIUM,HIGH,CRITICAL'
          format: 'template'
          template: '@/contrib/sarif.tpl'
          output: 'trivy-results.sarif'
          exit-code: '1'
          ignore-unfixed: true

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@cdefb33c0f6224e58673d9004f47f7cb3e328b89 # v4.31.10
        if: always()
        with:
          sarif_file: 'trivy-results.sarif'

      - name: Install Inspec for Image Tests
        run: |
          curl https://omnitruck.chef.io/install.sh | sudo bash -s -- -P inspec -v 5
          inspec --chef-license=accept

      - name: Run Inspec Tests
        env:
          CHEF_LICENSE: accept
        run: |
          make test
          make cleanup

      - name: Test Database Tuning Script
        run: make test-database-tuning
        
      - name: Test User Role Setup
        run: make test-role-setup

      - name: Publish Inspec Test Results
        uses: EnricoMi/publish-unit-test-result-action@27d65e188ec43221b20d26de30f4892fad91df2f # v2.22.0
        if: always()
        with:
          check_name: "Inspec Test Results"
          files: data-sync-inspec.xml

      - name: Configure OIDC AWS credentials for ECR push
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: arn:aws:iam::311462405659:role/sirius-component-ecr-role
          role-session-name: opg-data-sync-github-actions-ecr-push
          role-duration-seconds: 900
          aws-region: eu-west-1

      - name: ECR Login
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1
        with:
          registries: 311462405659

      - name: Push & Tag
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          DATA_SYNC_ECR_REPOSITORY: sirius/data-sync
        run: |
          docker tag $ECR_REGISTRY/$DATA_SYNC_ECR_REPOSITORY:latest $ECR_REGISTRY/$DATA_SYNC_ECR_REPOSITORY:${{ needs.create-tag.outputs.tag }}
          if ${{ github.ref_name == 'main' }}
          then
            docker tag $ECR_REGISTRY/$DATA_SYNC_ECR_REPOSITORY:latest $ECR_REGISTRY/$DATA_SYNC_ECR_REPOSITORY:main-${{ needs.create-tag.outputs.tag }}
            docker tag $ECR_REGISTRY/$DATA_SYNC_ECR_REPOSITORY:latest $ECR_REGISTRY/$DATA_SYNC_ECR_REPOSITORY:main-${{ needs.create-tag.outputs.tag }}-${{ needs.create-tag.outputs.timestamp }}
            # We want all of the tags pushed
            docker push --all-tags $ECR_REGISTRY/$DATA_SYNC_ECR_REPOSITORY
          else
            docker push $ECR_REGISTRY/$DATA_SYNC_ECR_REPOSITORY:${{ needs.create-tag.outputs.tag }}
          fi

  end_of_pr_workflow:
    name: End of PR Workflow
    runs-on: ubuntu-latest
    if: always()
    needs:  [create-tag, build, push]
    steps:
      - name: End of PR Workflow
        run: |
          if ${{ contains(needs.*.result,'failure') }}
          then
            echo "Not all checks succedeed, check the previous jobs."
            exit 1
          else
            echo "All checks succedeed!"
            exit 0
          fi

  push-version:
    name: Push Version to Parameter Store & Trigger Deploy
    runs-on: ubuntu-latest
    needs: [create-tag, end_of_pr_workflow]
    if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Configure OIDC AWS credentials for SSM
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: arn:aws:iam::997462338508:role/sirius-component-ssm-role
          role-session-name: opg-data-sync-github-actions-ssm-push
          role-duration-seconds: 900
          aws-region: eu-west-1

      - name: Install AWS CLI
        id: install-aws-cli
        uses: unfor19/install-aws-cli-action@f5b46b7f32cf5e7ebd652656c5036bf83dd1e60c # 1.0.8

      - name: Push Tag to Parameter Store
        run: |
          aws ssm put-parameter --name "opg-sirius-data-sync-latest-green-build" --type "String" --value "${{ needs.create-tag.outputs.tag }}" --overwrite --region=eu-west-1

      - name: Trigger Dev Deploy
        shell: bash
        run: curl -u ${{ secrets.JENKINS_API_USER }}:${{ secrets.JENKINS_API_TOKEN }} "https://${{ secrets.JENKINS_URL }}/job/Sirius/job/Deploy_to_Development/build?token=${{ secrets.JENKINS_API_TOKEN_NAME }}&cause=Triggered+by+opg-sirius-data-sync"
